<div  class="hu-message brand animate " data-type="dialog" data-samurai="-1" data-role="welcome,end-flow">
  <div class="hu-message-container">
    <div class="hu-message-margin">
      <div class="hu-message-info visible">
        <div class="hu-message-avatar ">
          <div class="hu-message-avatar_img hu-background-contain hu-width-full hu-height-full" style="background-image: url('assets/images/bot_icon.png');"></div>
        </div>
        <div class="hu-message-date hu-a-center hu-s-10 hu-color_contrast"><span >11:48</span></div>
      </div>
      <div class="hu-message-content">
        <div class="hu-message-bubble hu-position-relative hu-background-color_bot-message-background" style="width: auto; height: auto;">
        <div class="typing-spinner">
          <div class="ball hu-background-color_accent"></div>
          <div class="ball hu-background-color_accent"></div>
          <div class="ball hu-background-color_accent"></div>
        </div>
        <p class="hu-message-text hu-color_bot-message-text" style="display: inline-block; opacity: 1;">Hello there!</p>
        </div>
      </div>
    </div>
</div>
</div>
<!--user message-->
<div class="hu-message user animate" data-type="text" style="height: auto;">
  <div class="hu-message-container">
    <div class="hu-message-margin">
      <div class="hu-message-info visible">
        <div class="hu-message-date hu-a-center hu-s-10 hu-color_contrast">
          <span>11:48</span>
        </div>
      </div>
      <div class="hu-message-content">
        <div class="hu-message-bubble hu-position-relative hu-background-color_user-message-background">
          <p class="hu-message-text hu-color_user-message-text">Hi!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Send textarea-->
<div id="hu-message-input" class="hu-display-block hu-position-relative enabled">
  <div class="hu-input-overflow-content"></div>
  <div class="hu-input-box hu-height-0 hu-overflow-hidden" style="height: auto;">
    <div class="hu-input-container hu-position-relative field">
      <div class="hu-powered-by hu-a-center hu-mobile-powered-by hu-width-full hu-opacity-0">
        <p class="powered-by-text hu-a-center hu-color_button-text hu-s-12">
          <a href="https://landbot.io/powered-by?utm_source=pentavalue&amp;utm_medium=landbot&amp;utm_campaign=footer" target="_blank" tabindex="-1" class="hu-background-color_button-background hu-background-color_button-background-light_hover hu-border-color_button-background-dark hu-d-none hu-border-1 hu-border-solid hu-border-radius-3">
            <span>Start using</span>
            <b class="hu-display-inline-block">
             </b>
             <span>for your business</span>
            </a>
          </p>
        </div>
        <div class="hu-input-body">
          <div class="hu-textarea-light empty">
            <div class="hu-textarea-input-container hu-background-color_textarea-background hu-border-color_textarea-border text">
              <div class="hu-textarea hu-color_textarea-text" contenteditable="true" tabindex="1" placeholder="Type your name here..." suppresscontenteditablewarning="true" data-gramm_editor="false"></div>
              <div class="hu-textarea-buttons">
                <button class="send hu-display-flex" tabindex="2">
                    <i class="fa fa-paper-plane-o"></i>
                </button>
                
            </div>
          </div>
          <p class="hu-textarea-footer-info hu-not-selectable hu-s-10 hu-color_contrast hu-t-uppercase">Press enter to send</p>
        </div>
      </div>
    </div>
  </div>
</div>

