.container {
    margin-top: 10px;
    min-width: 1317px;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    // width: 2000px;
    // margin-right: 100px;
    // margin-left: 100px;
}
